bin/
build/
.classpath
.gitattributes
.project
.gradle/
.gradle/2.14.1/
.settings/
gradle/
Morty.db
data/
libs/

src/main/java/wh1spr/bot/commands/torncity/
src/main/java/wh1spr/bot/tornbot/

Morty_*
gradle.properties
